<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia totam dolorum praesentium voluptates porro sint quibusdam, nesciunt quaerat, expedita molestias provident quos? Voluptates, ex. Architecto voluptate placeat illum recusandae dolore! Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero commodi id doloremque laboriosam. Enim cumque eum veniam ullam, reprehenderit architecto excepturi fugiat necessitatibus veritatis quibusdam nesciunt, illo eligendi illum maxime.</p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<p>Nombre {{person.name}}</p>

<hr>
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress [value]="person.age" max="100"></progress>
<img [src]="person.avatar" width="100" />


<hr />
<h1>Hola Mundo</h1>
<h2>{{'Hola Mundo'.repeat(5)}}</h2>
<p>3 +3 = {{3+3}}</p>
<h3>Hola, soy {{ name }} y tengo {{age}}</h3>
<img src={{img}} alt="imagen">
